---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  
    <div class="news">
      <h2>News:</h2>
      <ul>
        <li>
          New arXiv paper (11.25.2023): ShapeMaker: Self-Supervised Joint Shape Canonicalization, Segmentation, Retrieval and Deformation
        </li>
        <li> Our Paper (10.18.2023) got accepted for publication in IEEE TIM
          <ul>wMPS-SLAM: An Online and Accurate Monocular Visual-wMPS SLAM System</ul>
        </li>
        <li>New arXiv paper (10.10.2023): Open-Structure: a Structural Benchmark Dataset for SLAM Algorithms </li>
        <ul> <a href="https://arxiv.org/pdf/2310.10931.pdf">paper</a> |
          <a href="https://github.com/yanyan-li/Open-Structure">code</a>
        </ul>
        <!-- <li>New arXiv paper: Factor Graph Optimization with Covisible and Extensible Connections</li> -->
        <!-- <li>New arXiv paper: Tracking, Understanding and Mapping in Large-scale Environments</li> -->
        <li>I joined in UTS as a Research Scientist adviced by <a
            href="https://profiles.uts.edu.au/Liang.Zhao">Robotics Institute Prof. Liang Zhao </a> from 1st, Setp, 2023.
      </ul>
    </div>

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  <div class="Publications">
    <h2> Papers:</h2>

    {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h4 class="post-list-heading">{{ page.list_title }}</h4>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}
  </div>

</div>
